.level {
  display: grid;
  gap: 2rem;
  grid-template-columns: minmax(0, 3fr) 1fr;
  width: 100%;
  @include viewport("<md") {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  &__main,
  &__aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include viewport("<md") {
      width: 100%;
      max-width: 100%;
    }
  }
  h3 {
    margin-bottom: 0;
  }
  &__controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include viewport("sm-md") {
      flex-direction: row;
      > * {
        flex-grow: 1;
      }
    }
  }
  &__hint {
    text-align: center;
    font-size: 12px;
    @include viewport("p") {
      display: none;
    }
    &_desktop {
      @include viewport("<md") {
        display: none;
      }
    }
    &_mobile {
      @include viewport(">lg") {
        display: none;
      }
    }
  }
}
