cache
newsite.bat
*.bat
*.bak
*.zip
www/*.html
www/*.xml
www/dev/verstka/*.bak/*
vendor
coverage
fish
components
files
logs
composer.phar
config.php
config.*.php
www/images
www/fonts/lightcase*
www/fonts/fontawesome*
www/fonts/font-awesome*
www/css
www/js
www/dev/raasync.php
www/dev/css/bootstrap/*
!www/dev/css/bootstrap/variables.styl
www/dev/css/mixins
www/dev/css/ckeditor.css
/*.sql
*cidr_optim*.txt
*cities*.txt
node_modules
*.log
js
