@use 'app/_shared/mixins/header-icon.scss' as *;
@use 'cms/_shared/mixins/center-alignment.scss' as *;
@use 'cms/_shared/mixins/viewports.scss' as *;

@mixin cart-icon($icon) {
    @include header-icon($icon);
    $self: &;
    display: flex;
    align-items: center;
    position: relative;
    color: var(--body-color);
    
    &__text {
        @include viewport('>lg') {
            display: block;
            margin-left: .5rem,
        }
        @include viewport('<md') {
            display: none;
        }
    }
    &__title, &__sum-outer {
        display: block;
    }
    &__sum-outer, &__amount {
        @include smartprops((
            opacity: (
                '': 0,
                ($self + '_active &'): 1,
            ),
        ));
    }
    &__sum {
        font-weight: bold;
    }
    &__amount {
        border-radius: 50%;
        background: var(--danger);
        color: white;
        position: absolute;
        inset: -4px auto auto;
        left: relMin(20px, $min: 18px);
        @include center-alignment(relMin(16px, $min: 12px), relMin(11px, $min: 9px));
    }
}