@use 'fa-mixin' as *;

@mixin left-block() {
    border: 1px solid var(--gray-d);
    margin-bottom: 2rem;
    &:last-child {
        margin-bottom: 0;
    }
}


@mixin left-block-header() {
    background: var(--gray-e);
    font-size: 16px;
    &, a {
        padding: .5rem 1rem;
        color: var(--body-color);
    }
    a {
        display: block;
        margin: -0.5rem -1rem;
        &, &:hover, &:focus {
            text-decoration: none;
        }
    }
}


@mixin left-block-inner() {
    padding: 1rem;
} 


@mixin left-block-toggle() {
    size: 16px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .25s;
    &:after {
        @include fa('angle-down');
    }
}


@mixin left-block-subblock() {
    max-height: 0px;
    overflow: hidden;
    transition: all .5s;
}