@use 'cms/_shared/mixins/center-alignment.scss' as *;

@mixin sidebar() {
    margin: 0;
    padding: 0 0 60px;
    display: block;
    background: rgba(white, .95);
    position: fixed;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    max-width: 360px;
    overflow: auto;
    top: 0;
    transition: all .25s;
    pointer-events: all;
}
    
@mixin sidebar-active() {
    left: 0;
}
    
@mixin sidebar-header() {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

@mixin sidebar-title() {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    &, &:hover, &:focus {
        color: var(--body-color);
        text-decoration: none;
    }
}

@mixin sidebar-button() {
    @include center-alignment(32px, 32px);
    padding: 0 !important;
    line-height: 1;
    color: var(--body-color);
    &:after {
        display: block;
        position: relative;
    }
}

@mixin sidebar-back() {
    @include sidebar-button();
    &:after {
        content: '‹';
        top: -3px;
    }
}
      
@mixin sidebar-close() {
    @include sidebar-button();
    font-size: 16px;
}